@import "tailwindcss";
@import "../globalsDeclarations.css";


.notesDashboardContent{
    @apply flex flex-row items-start h-full;
}

.notesActions,
.notesSelect{
    @apply w-[250px];
}

.notesContent{
    @apply border-l border-r border-outlineGray pt-2 flex-1 px-2.5 h-full;
}
.notesSelect{
    @apply pt-2 pr-2 pb-2 pl-3.5;
}

.notesActions{
     @apply pt-2 pr-3.5 pb-2 pl-2;
}

.createNoteBtn{
    @apply rounded-md p-2 w-full bg-site_blueviolet text-white flex gap-2 items-center justify-center;
}
.notesList{
    @apply w-full h-full;
}

.notesTitle{
    @apply font-bold text-lg mb-2.5;
}
.notesTag{
    @apply flex flex-row items-center gap-1 mb-2.5;
}
.notesDate{
    @apply text-sm text-gray-500;
}

.notesItem{
    @apply relative p-2.5 rounded-md bg-transparent hover:bg-site_lightGray;
}

.notesItem::after{
    content: "";
    
    @apply absolute left-0 bottom-0 w-full h-[1px] bg-outlineGray transition-all ease-in-out duration-300 opacity-100;
}

.notesItem:hover::after{
    @apply opacity-0;
}

.noteTag{
    @apply p-1 rounded-md bg-site_lightGray text-sm;
}

.actionButtons{
    @apply flex items-center flex-row gap-2 rounded-md mb-2 border border-solid border-outlineGray p-2.5;
}

.selectednotesTags,
.selectedNotesLastEdited{
    @apply flex flex-row items-center gap-2.5;
}