:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkGray:#e2e2e5;
  --lightGray:#f4f4f8;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-outlineGray:var(--darkGray);
  --color-site_lightGray:var(--lightGray);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffeff;
    --foreground: #000;
  }
}
