@import "tailwindcss";

@import "./globalsDeclarations.css";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.Dashboard-left{
  @apply w-[300px]  px-3.5 border-r border-solid border-s-outlineGray;
}
.Dashboard-right{
  @apply flex-1;
}
.col-headings{
  @apply h-14 flex items-center;
}
.appLogo{
  @apply text-xl font-bold;
}

.horizontalBar{
  @apply w-full h-px bg-outlineGray my-2.5;
}

.searchInput{
  @apply flex gap-1.5 items-center rounded-md p-2.5 border border-solid border-outlineGray ;
}
.searchInput input{
  @apply bg-transparent outline-none border-none;
}