@import "tailwindcss";

@import "./globalsDeclarations.css";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.Dashboard-left{
  @apply w-[300px] bg-red-300 px-3.5 border-r border-solid border-s-outlineGray;
}
.Dashboard-right{
  @apply flex-1 bg-blue-300;
}
.col-headings{
  @apply h-14 flex items-center;
}
.appLogo{
  @apply text-xl font-bold;
}